@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}
html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}


/* MENU */


.contenedor-header {
  /*background: #fff;*/
  background: #202448;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.contenedor-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.contenedor-header header .logo a {
  font-family: "Righteous";
  font-size: 40px;
  color: #ffffff;
  /*color: #38618c;*/
  text-decoration: none;
}
.contenedor-header header ul {
  display: flex;
  list-style: none;
  background: #202448;
}
.contenedor-header header nav ul li a {
  text-align: none;
  color: #fff;
  /*color: #38618c;*/
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}
.contenedor-header header nav ul li a:hover {
  color: #1428db;
  /*color: #35a7ff;*/
}
.nav-responsive {
  background-color: #fff;
  /*background-color: #38618c;*/
  color: #202448;
  /*color: #fff;*/
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}


/* SECCION I N I C I O */


.inicio {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.3),
      rgba(30, 35, 38, 1)
    ),
    url(Imagenes/Fondo2.png);
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.inicio .contenido-banner {
  padding: 20px;
  background-color: #ffffff88;
  max-width: 450px;
  max-height: 580px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}
.inicio .contenido-banner img {
  margin-top: 40px;
  /*border: 10px solid #38618c;*/
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}
.inicio .contenido-banner h1 {
  /*color: #38618c;*/
  color: #3e3b48;
  margin-top: 30px;
  font-size: 42px;
  font-family: "Righteous";
}
.inicio .contenido-banner h2 {
  color: #1428db;
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
}
.inicio .contenido-banner .redes a {
  /*color: #ffa135e7;*/
  color: #fff;
  display: inline-block;
  text-decoration: none;
  /*border: 1px solid #ffa135e7;*/
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 25px 5px;
  font-size: 20px;
  transition: 0.3s;
}
.inicio .contenido-banner .redes a:hover {
  background-color: #1428db;
  color: #fff;
  border: #fff;
}


/*--SOBRE MI--*/


.sobremi {
  /*background-color: #ffa135e7;*/
  background-color: #fff;
  /*color: #fff;*/
  color: #575366;
  padding: 50px 20px;
}
.sobremi .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.sobremi h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}
.sobremi .contenido-seccion p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.sobremi .contenido-seccion p span {
  /*background-color: #35a7ff;*/
  background-color: #1428db;
  border-radius: 5px;
  padding: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.sobremi .fila {
  display: flex;
}
.sobremi .fila .col {
  width: 50%;
}
.sobremi .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}
.sobremi .fila .col ul {
  list-style: none;
}
.sobremi .fila .col ul li {
  margin: 12px 0;
}
.sobremi .fila .col ul li strong {
  display: inline-block;
  color: #575366;
  width: 130px;
}
.sobremi .fila .col ul li span {
  /*background-color: #35a7ff;*/
  background-color: #1428db;
  color: #fff;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses {
  display: flex;
  flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes {
  width: 100px;
  height: 100px;
  /*background-color: #38618c;*/
  background-color: #6e7dab;
  color: #fff;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover {
  /*background-color: #35a7ff;*/
  background-color: #1428db;
  color: #fff;
}
.sobremi .fila .col .contenedor-intereses .interes i {
  font-size: 30px;
  margin-bottom: 10px;
}
.sobremi button {
  cursor: pointer;
  background-color: transparent;
  /*border: 2px solid #fff;*/
  border: 2px solid #6e7dab;
  border-radius: 10px;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 10;
}
.sobremi button a {
  text-decoration: none;
  /*color: #fff;*/
  color: #6e7dab;
}
.sobremi button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /*background-color: #35a7ff;*/
  background-color: #1428db;
  color: #fff;
  border-radius: 7px;
  z-index: -1;
  transition: width 1s;
}
.sobremi button:hover .overlay {
  width: 100%;
}




/* SECCION S K I L L S */


.skills {
  background-color: #1e9014e7;
  color: #fff;
  padding: 50px 20px;
}
.skills .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.skills h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}
.skills .fila {
  display: flex;
}
.skills .fila .col {
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}
.skills .skill > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.skills .skill .barra-skill {
  height: 8px;
  width: 80%;
  background-color: #9a5e19e7;
  position: relative;
  margin-bottom: 30px;
}
.skills .skill .progreso {
  background-color: #35a7ff;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.skills .skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #35a7ff;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .powerbi {
  width: 0%;
  animation: 2s powerbi forwards;
}
@keyframes powerbi {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.skills .skill .tableau {
  width: 0%;
  animation: 2s tableau forwards;
}
@keyframes tableau {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

.skills .skill .alteryx {
  width: 0%;
  animation: 2s alteryx forwards;
}
@keyframes alteryx {
  0% {
    width: 0%;
  }
  100% {
    width: 84%;
  }
}

.skills .skill .sqlserver {
  width: 0%;
  animation: 2s sqlserver forwards;
}
@keyframes sqlserver {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.skills .skill .python {
  width: 0%;
  animation: 2s python forwards;
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
.skills .skill .asure {
  width: 0%;
  animation: 2s asure forwards;
}
@keyframes asure {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.skills .skill .communication {
  width: 0%;
  animation: 2s communication forwards;
}
@keyframes communication {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.skills .skill .teamwork {
  width: 0%;
  animation: 2s teamwork forwards;
}
@keyframes teamwork {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.skills .skill .creativityandinnovation {
  width: 0%;
  animation: 2s creativityandinnovation forwards;
}
@keyframes creativityandinnovation {
  0% {
    width: 0%;
  }
  100% {
    width: 99%;
  }
}

.skills .skill .dedication {
  width: 0%;
  animation: 2s dedication forwards;
}
@keyframes dedication {
  0% {
    width: 0%;
  }
  100% {
    width: 86%;
  }
}

.skills .skill .continuouslearning {
  width: 0%;
  animation: 2s continuouslearning forwards;
}
@keyframes continuouslearning {
  0% {
    width: 0%;
  }
  100% {
    width: 94%;
  }
}
.skills .skill .adaptability {
  width: 0%;
  animation: 2s adaptability forwards;
}
@keyframes adaptability {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}




/* SECCION CURRICULUM #575366 */
.curriculum {
  background-color: #fff;
  color: #1428db;
  padding: 50px 20px;
}
.curriculum .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.curriculum h2 {
  font-size: 48px;
  font-family: "Righteous";
  color: #575366;
  text-align: center;
  padding: 20px 0;
}
.curriculum .fila {
  display: flex;
  justify-content: space-between;
}
.curriculum .fila .col {
  width: 49%;
  padding: 0 20px;
}
.curriculum .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
  text-align: center;
}
.curriculum .fila .izquierda {
  border-right: 2px solid #1428db;
}
.curriculum .fila .derecha {
  border-left: 2px solid #1428db;
}
.curriculum .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  border: 10px solid #38618c;
  border-radius: 10px;
  position: relative;
}
.curriculum .fila .item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.curriculum .fila .item .casa {
  color: #38618c;
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.curriculum .fila .item .fecha {
  display: block;
  color: #35a7ff;
  margin-bottom: 10px;
}
.curriculum .fila .item p {
  line-height: 24px;
  color: #38618c;
}
.curriculum .fila .izq {
  border-right: 2px solid #1428db;
  margin-right: 20px;
}
.curriculum .fila .der {
  border-left: 2px solid #1428db;
  margin-left: 20px;
}
.curriculum .fila .item .conectori {
  height: 2px;
  background-color: #1428db;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}
.curriculum .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #1428db;
  float: right;
  position: relative;
  bottom: 4px;
}
.curriculum .fila .item .conectord {
  height: 2px;
  background-color: #1428db;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.curriculum .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #1428db;
  float: left;
  position: relative;
  bottom: 4px;
}

/*CERTIFICADOS*/
.slider {
  width: 80vw;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  overflow: hidden;
}

.slider .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(500px * 16);
}

.slider .slide {
  width: 500px;
  height: 350px;
  margin: 15px;
}

.slider .slide img {
  width: 100%;
  height: 100%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-500px * 7));
      transform: translateX(calc(-500px * 7));
  }
}

/* SECCION SKILL */
.skill {
  /*background-color: #ffa135e7;*/
  /*background-color: #6e7dab;*/
  /*color: #fff;*/
  padding: 50px 20px;
  position: relative;
  background: #fff;
}
.skill .contenido-skill {
    max-width: 1100px;
    margin: auto;
}
.skill .contenido-skill h2 {
  /*color: #fff;*/
  color: #575366;
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
  }
.skill .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.skill .programs img{
  width: 96px;
  height: auto;
   transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.skill .programs img:hover{
    transform: translatey(-20px);
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
}
              

/* SECCION PORTFOLIO */

.portfolio {
  background-color: #fff;
  color: #fff;
  padding: 50px 20px;
}
.portfolio .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.portfolio h2 {
  /*color: #38618c;*/
  color: #575366;
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}
.portfolio .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .galeria .proyecto {
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}
.portfolio .galeria .proyecto a{
  width: 100%;
  display: block;
  border-radius: 10px;
}
.portfolio .galeria .proyecto img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.portfolio .galeria .proyecto .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(#5761d5bb, #6e7dab93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3 {
  margin-bottom: 20px;
  transition: 1s;
}
.portfolio .galeria .proyecto .overlay a {
 text-decoration: none;
 margin-top: 13px;
 background-color: #575366;
 color:#fff;

}
.portfolio .galeria .proyecto .overlay:hover {
  opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3 {
  margin-bottom: 0px;
}
.portfolio .galeria .proyecto .overlay .tools {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
  gap: 10px; 
  margin-top: 10px;
}
.portfolio .galeria .proyecto .overlay .tools img {
  width: 35px;
  height: auto;
}


/* SECCION CONTACTO */

/*
.contacto {
  background-image: url(img/contact_bg.png);
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
}
.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.contacto h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}
.contacto .fila {
  display: flex;
}
.contacto .col {
  width: 50%;
  padding: 10px;
  position: relative;
}
.contacto .col input,
.contacto .col textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #252a2e;
  color: #fff;
  font-size: 18px;
}
.contacto button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1cb698;
  z-index: -1;
  transition: 1s;
}
.contacto button:hover .overlay {
  width: 100%;
}
.contacto .col img {
  width: 100%;
}
.contacto .col .info {
  position: absolute;
  top: 40%;
  background-color: #252a2e;
  padding: 20px;
  max-swidth: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacto .col .info ul {
  list-style: none;
}
.contacto .col .info ul li {
  margin-bottom: 20px;
}
.contacto .col .info ul li i {
  color: #1cb698;
  display: inline-block;
  margin-right: 20px;
}

*/
footer {
  background-color: #202448;
  color: #fff;
  padding: 50px 0 50px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
footer h4{
  font-size: 30px;
}

footer .redes {
  margin-bottom: 20px;
}
footer .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}
footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #1428db;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #fff;
    width: 180px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
}
@media screen and (max-width: 700px) {
  .sobremi .fila {
    display: block;
  }
  .sobremi .fila .col {
    width: fit-content;
  }

  .skills .fila {
    display: block;
  }
  .skills .fila .col {
    width: 100%;
  }
  .skills .fila .col .barra-skill {
    width: 100%;
  }

  .curriculum .fila {
    display: block;
  }
  .curriculum .fila .col {
    width: 90%;
  }
  .curriculum .fila .derecha {
    margin-left: 20px;
  }

  .portfolio .galeria {
    display: block;
    width: 100%;
  }
  .portfolio .galeria .proyecto {
    max-width: 100%;
  }
  .portfolio .galeria .proyecto img {
    width: 100%;
  }
  .contacto .fila {
    display: block;
  }
  .contacto .fila .col {
    width: 100%;
  }
}
